.button-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-weight: 700;
    font-size: 24px;
    background-color: #1b1b32;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #fff;
    margin: 4px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .button-container {
        height: 80px;
        font-size: 28px;
    }
}

.button-container:hover {
    background-color: #5a01a7;
}

.operator {
    background-color: #00471b;  
}

.operator:hover {
    background-color: #ff6600;  
}

.clear {
    background-color: #ac0246;
}

.clear:hover {
    background-color: #ebb000;  
}