* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  padding: 20px 10px 40px;
  background-color: #1b1b32;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}

h1 {
  font-size: 38px;
  margin: 10px 0;
}

.logo {
  width: 40px;
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.calculator-container {
  height: auto;
  width: 100%;
  max-width: 400px;
  background-color: #99c9ff;
  border: 5px solid #fff;
  border-radius: 20px;
  color: #fff;
}

